body{
  margin: 0;
  padding: 0;
}

.App{
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  
  background: linear-gradient(to right, #96c93d, #00b09b); 
  padding: 20px;
  min-height:100vh;
 

}

.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.search-bar{
  padding: 1rem;
  border:none;
  width:50%;
  border-radius: 3px;
  margin-right: 5px;
}

.search-button{
  padding: 1rem;
  border: none;
  border-radius: 3px;
  background-color: #34D399;
  color: white;
}

.items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}